.eventTitle{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding:20px 0px;
}
.eventMain{
  padding:8px;
  box-shadow: 2px 1px 2px 3px rgb(90, 46, 52);
  border-radius: 8px;
  text-align: center;
  margin:0px 20px 20px 20px;
  width:500px;
}
.cardMain{
  display: flex;
  justify-content: center;
}